/data/result/
/data/model/
/data/image/
/data/MNIST/
/data/*.pth
/data/*.tar
/data/*.onnx
/data/*.pb
/demo/pytorch/tutorial/data/
/demo/pytorch/tutorial/__pycache__/
/demo/pytorch/tutorial/PennFudanPed/
/demo/pytorch/tutorial/runs/
/demo/pytorch/tutorial/*.pth
/demo/pytorch/lenet-5/mnist_data/
/demo/pytorch/activation_function/__pycache__/
/demo/pytorch/lenet5/__pycache__/
/demo/pytorch/lenet5/mnist_data/
/demo/onnx/resnet50v2/
/demo/onnx/*.json
/demo/onnx/*.tar.gz
/data/result_*
/data/src_*
/data/*.png
/demo/openmmlab/__pycache__/
/data/*.webp