/data/result/
/data/model/
/demo/pytorch/tutorial/data/
/demo/pytorch/tutorial/__pycache__/
/demo/pytorch/tutorial/PennFudanPed/
/demo/pytorch/tutorial/runs/
/demo/pytorch/tutorial/*.pth
/data/image/
