/data/result/
/data/model/
/demo/pytorch/tutorial/data/
/demo/pytorch/tutorial/__pycache__/
/demo/pytorch/tutorial/PennFudanPed/
/demo/pytorch/tutorial/runs/
/demo/pytorch/tutorial/*.pth
/data/image/
/data/MNIST/
/data/*.pth
/data/*.tar
/demo/pytorch/lenet-5/mnist_data/
/demo/pytorch/activation_function/__pycache__/
/demo/pytorch/lenet5/__pycache__/
/demo/pytorch/lenet5/mnist_data/
